---
import { type CollectionEntry } from "astro:content";
import { getInfo, getTILs } from "../../util/entry";

export async function getStaticPaths() {
  const entries = await getTILs();
  return entries.map(entry => {
    const [category, slug] = entry.slug.split("/");
    return { params: { category, slug }, props: entry };
  });
}

type Props = CollectionEntry<"til">;

import HTML from "../../layout/HTML.astro";
import Layout from "../../layout/Layout.astro";
import Info from "../../component/Info.astro";

const info = await getInfo(Astro.props);
const { Content } = await Astro.props.render();
---

<HTML title={`[${info.category}] ${info.title}`} image={`../../og/${Astro.props.slug}.png`}>
  <Layout slug={Astro.props.slug}>
    <a class="title" href="/">← Today I Learned</a>

    <article class="content" data-pagefind-body>
      <Content />
      <footer class="footer">
        <Info date={info.date} category={info.category} />
      </footer>
    </article>
  </Layout>

  <style>
    .title {
      display: block;
      font-family: var(--font-mono);
      font-style: italic;
      text-transform: lowercase;
      margin-bottom: 8px;

      @media (min-width: 60rem) {
        display: none;
      }
    }

    .content {
      max-width: max(60rem, 80ch);
      overflow-x: hidden;

      @media (min-width: 60rem) {
        overflow: visible;
      }
    }

    .content > :global(:first-child:not([class])) {
      margin: 0;
    }

    .content :global(.astro-code) {
      padding: 16px;
      border-radius: 4px;
      font-size: round(0.95em, 1px);
      line-height: 1.75;
      word-wrap: normal;
      overflow: auto;
      max-width: 100%;
    }

    .content :global(.astro-code) :global(code) {
      font-weight: normal;
    }

    .content :global(img) {
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 0 0 0 1px #00000022;
      margin-inline: auto;
      width: auto;
    }

    .footer {
      margin-top: 16px;
    }
  </style>
</HTML>
